@model LoginVM

@{ 
    ViewData["Title"] = "Вхід";
}

<div class="row">
    <div>
        <div class="text-center">
            <p>
                <h4>Вхід</h4>
            </p>
        </div>

        @if (TempData["Error"] is string error)
        {
            <div class="col-md-12 alert alert-danger">
                <span>@error</span>
            </div>
        }

        <div class="row">
            <div class="col-10 offset-1 col-lg-4 offset-lg-4 col-sm-6 offset-sm-3">
                <form asp-action="Login">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="mb-3">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <input class="btn btn-outline-success float-right" type="submit" value="Ввійти" />
                        <a class="btn btn-outline-secondary float-lg-end" asp-controller="Home" asp-action="Index">Відмінити</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>