<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вхід</title>
    <style>
        body {
            background-color: white;
        }
        .content {
            min-width: 300px;
            background-color: #FBFBFB;
            padding-top: 15px;
            padding-bottom: 20px;
            border-radius: 6px;
            width: 100%;

        }
        label {
            color: #5F6B7E;
            margin-bottom: 5px;
        }
        #registration-link {
            color: black;
            text-decoration: none;
        }
        input[type="text"], input[type='password'] {
            padding-left: 5px;
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-bottom: 10px;
            margin-top: 5px;
            border-style: solid;
            border-color: #E5E5E5;
            height: 30px;
            border-radius: 6px;
        }
        input[type='checkbox'] {
            margin-right: 5px;
        }
        main-content {
            display: flex;
            justify-content: center;
            padding-top: 5px;
        }
        #submit-button {
            margin-top: 10px;
            cursor: pointer;
            font-size: 18px;
            color: white;
            text-align: left;
            padding-left: 5px;
            padding-right: 5px;
            height: 30px;
            border-radius: 6px;
            border: none;
            background-color: #04AA6D;
        }
        #submit-button:hover {
            background-color: #059862;
        }
        form {
            padding-left: 20px;
            padding-right: 60px;
        }
        h1 {
            font-size: 30px;
        }
    </style>
    <script>
        function togglePasswordVisibility() {
            const passwordInput = document.getElementById("password");
            if (passwordInput.type === "password") {
                passwordInput.type = "text";
            } else {
                passwordInput.type = "password";
            }
        }
    </script>
</head>
<body>
    <div class="container main-content">
        <div class="content">
            <div class="d-flex justify-content-center">
                <h1>
                    Вхід
                </h1>
            </div>
            <div class="d-flex justify-content-center row">
                <div class="col-lg-6">
                    <form method="post" autocomplete="off">
                        <div>
                            <label for="login">Логін</label>
                            <input type="text" name="login" id="login" required>
                        </div>
                        <div>
                            <label for="password">Пароль</label>
                            <input type="password" name="password" id="password" required>
                        </div>
                        <div>
                            <input id="password-visibility-checkbox" type="checkbox" onclick="togglePasswordVisibility()">
                            <label for="password-visibility-checkbox">Показати пароль</label>                
                        </div>
                        <button id="submit-button" type="submit">
                            <span style="margin: 4px 10px;">Ввійти</span>
                        </button>
                        <div>
                            Ще не зареєстрований? <a id="registration-link" asp-controller="Account" asp-action="Registration"><strong>ЗАРЕЄСТРУВАТИСЯ</strong></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>