@model RegisterVM

@inject IViewLocalizer _localizer

@{ 
    ViewData["Title"] = _localizer["Registration"];
}

<div class="row">
    <div>
        <div class="text-center">
            <p>
                <h4>@_localizer["Registration"]</h4>
            </p>
        </div>

        @if (TempData["Errors"] is IEnumerable<string> errors)
        {
            @foreach(string error in errors)
            {
                <div class="col-md-12 alert alert-danger">
                    <span>@error</span>
                </div>
            }
        }

        <div class="row">
            <div class="col-10 offset-1 col-lg-4 offset-lg-4 col-sm-6 offset-sm-3">
                <form asp-action="Register">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="mb-3">
                        <label asp-for="UserName" class="control-label"></label>
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="ConfirmPassword" class="control-label"></label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <input class="btn btn-outline-success float-right" type="submit" value="@_localizer["Sing Up"]" />
                        <a class="btn btn-outline-secondary float-lg-end" asp-controller="Account" asp-action="Login">@_localizer["Cancel"]</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>