<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table Tennis Queue</title>
    <style>
        .player-box {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 80%;
        }
        
    </style>
</head>
<body>
    <div class="player-box">
        <div class="player-name">
            Андрій Гнатущенко
        </div>
    </div>
</body>
</html>
